{
	"arrowParens": "avoid",
	"tabWidth": 4,
	"bracketSameLine": false,
	"singleQuote": true,
	"trailingComma": "es5",
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"semi": false,
	"printWidth": 280
}
